<!-- FullScreen -->
<app-intro-header></app-intro-header>
	
	<!-- NavBar-->
  <app-navbar></app-navbar>
	
	<!-- What is -->
  <app-what-is></app-what-is>
	
	<!-- Use it -->
  <app-use-it></app-use-it>

	<!-- Portfolio -->
  <app-portfolio></app-portfolio>
	
  <!-- Newsletter -->
  <app-newsletter></app-newsletter>
	
	<!-- Credits -->
  <app-credits></app-credits>
	
	<!-- Banner Download -->
	<app-banner></app-banner>
	
	<!-- Contact -->
  <app-contact></app-contact>	
	
  <!-- Footer -->
  <app-footer></app-footer>